﻿@model WebApplication1.ViewModel.BMIData
<!DOCTYPE html>
<html>

<head>
    <title>
        HTML font face Attribute
    </title>


</head>

<body>
    <h2>BMI Testing</h2>

    <form class="well form-horizontal" action="@Url.Action("Index")" method="post">

        <legend>BMI Testing Table</legend>
        <font color="black"
              @*<p>Height: @Html.TextBoxFor(c => c.Height) CM @ViewBag.HeightError </p>
            <p>Height: @Html.TextBoxFor(c => c.Weight) CM @ViewBag.WeightError</p>
            <p><input type="submit" name="subBtm" value="Send" /></p>
            <p>Your Result: @Model.Result</p>
            <p>Level: @Model.Level</p>*@
            <p>@Html.DisplayNameFor(c => c.Height) @Html.TextBoxFor(c => c.Height)  公分 @Html.ValidationMessageFor(modelItem => @Model.Height) </p>
            <p>@Html.DisplayNameFor(c => c.Weight) @Html.TextBoxFor(c => c.Weight)  公斤 @Html.ValidationMessageFor(modelItem => @Model.Weight) </p>
            <p><input type="submit" name="subBtm" value="Send" /></p>
            <p>結果: @Model.Result</p>
            <p>等級: @Model.Level</p>
        </font>
    </form>


</body>

</html>
