﻿
@{
    ViewBag.Title = "HtmlHelper";
}

<h2>HtmlHelper</h2>

<p>姓名 : @Html.TextBox("YourName") </p>
<p>帳號 : @Html.TextBox("YourName") </p>
<p>密碼 : @Html.TextBox("YourName") </p>
<p>性別 : @Html.RadioButton("gender","0") 男性
          @Html.RadioButton("gender","1") 女性 </p>
<p>興趣 : @Html.CheckBox("Hobby-1", "A") 游泳 
          @Html.CheckBox("Hobby-2", "B") 電動
          @Html.CheckBox("Hobby-3", "C") 羽球 </p>

<p>自我介紹 : @Html.TextArea("YourName") </p>
