﻿
@{
    ViewBag.Title = "Razor";
}

<h2>Razor</h2>
@DateTime.Now
@{
    var success = true;
}

@if (success == true)
{
    <h4>成功</h4>
}
else
{
    <h4>失敗</h4>
}

<h3>Print Out Value of i </h3>
<br />

@{
    for (int i = 0; i <= 10; i++)
    {
        <h4>i=@(i) </h4>
    }
}
@{
    string[] fruits = { "蘋果", "香蕉", "荔枝", "鳳梨", "西瓜" };
}

<h2>Print Out all the fruit in the item~ </h2>
<ol>
    @foreach (var item in fruits)
    {
            <li> @item </li>
    }
</ol>
