﻿@-webkit-keyframes gradient_transition {
    0% {
        top: 0;
        left: 0;
    }

    50% {
        top: -200%;
        left: -200%;
    }

    100% {
        top: 0;
        left: 0;
    }
}

@-moz-keyframes gradient_transition {
    0% {
        top: 0;
        left: 0;
    }

    50% {
        top: -200%;
        left: -200%;
    }

    100% {
        top: 0;
        left: 0;
    }
}

@-o-keyframes gradient_transition {
    0% {
        top: 0;
        left: 0;
    }

    50% {
        top: -200%;
        left: -200%;
    }

    100% {
        top: 0;
        left: 0;
    }
}

@keyframes gradient_transition {
    0% {
        top: 0;
        left: 0;
    }

    50% {
        top: -200%;
        left: -200%;
    }

    100% {
        top: 0;
        left: 0;
    }
}

body {
    color: white;
    font-family: "Roboto";
    font-weight: lighter;
    overflow: hidden;
}

    body::before, body::after {
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;
    }

    body::before {
        content: "";
        width: 100%;
        height: 100%;
        background-image: url("http://bryce-snyder.com/assets/img/background.jpg");
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
        filter: grayscale(100%);
    }

    body::after {
        content: "";
        width: 400%;
        height: 400%;
        opacity: 0.8;
        background: -moz-linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
        background: -webkit-linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
        background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
        -webkit-animation: gradient_transition 15s ease infinite;
        -moz-animation: gradient_transition 15s ease infinite;
        -o-animation: gradient_transition 15s ease infinite;
        animation: gradient_transition 15s ease infinite;
    }

h1 {
    position: absolute;
    height: 100%;
    width: 100%;
    font-weight: lighter;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}
